<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tornado Chat Demo</title>
    <link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css">
  </head>
  <body>
    <h2>{{_("User Login")}}</h2>
    <p id="description">{{_("Enter your login ID and password below.")}}</p>
    <form method="POST" action="/login">{% module xsrf_form_html() %}
      <table>
	<tr>
	  <td align="right">
	    <label for="id_username">{{_("Username")}}: </label>
	  </td>
	  <td>
	    <input class="get_focus" type="text" name="username" />
	  </td>
	</tr>
	<tr>
	  <td align="right">
	    <label for="id_password">{{_("Password")}}: </label>
	  </td>
	  <td>
	    <input type="password" name="password" />
	  </td>
	</tr>
	<tr>
	  <td>
	  </td>
	  <td>
	    <p><input type="submit" value="Login" style="width: 155px;"/></p>
	  </td>
	</tr>
      </table>
    </form>
  </body>
</html>
