<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tornado Chat Demo</title>
    <link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css">
  </head>
  <body>
    <a href="/logout">Logout</a>
    <div id="body">
      <div id="inbox">
        {% for message in messages %}
          {% module Template("message.html", message=message) %}
        {% end %}
      </div>
      <div id="input">
        <form action="/a/message/new" method="post" id="messageform">
          <table>
            <tr>
              <td><input type="text" name="to_address" id="to_address" value="@apple"></td>
              <td><input type="text" name="message_type" id="message_type" value="Note"></td>
              <td><input type="text" name="body" id="message" style="width:100px"></td>
              <td>
                <input type="submit" value="{{ _("Post") }}">
                <input type="hidden" name="next" value="{{ request.path }}">
                {% module xsrf_form_html() %}
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
    <script src="{{ static_url("chat.js") }}" type="text/javascript"></script>
    <script type="text/javascript">
      <!-- // required to refresh the page after navigating away, and coming back:
      if (!!window.performance && window.performance.navigation.type === 2) {
          console.log('Reloading');
          window.location.reload();
      }
      //-->
    </script>
  </body>
</html>
